<launch>
	<param name="use_sim_time" value="true"/>

	<node pkg="rosbag" type="play" name="rosbag" args="--clock -l /home/zhiang/catkin_ws/multi_pbr_tracking.bag">
		<!--remap from="/mavros/global_position/local" to="/gps/odom"/-->
	</node>

	<node name="iou_tracker_node" pkg="ros_iou_tracking" type="iou_tracker.py" output="screen">
		<!--remap from="/vio/odom" to="/mavros/odometry/in"/-->
	</node>

	<!--node pkg="rviz" type="rviz" name="rviz" output="screen"/-->

</launch>
